<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lillis python!</title>
</head>
<body style="background-color: aquamarine;">
    <h1>My python site</h1>
    <p>This is some text about this page or whatever</p>
    <button>I'm a button</button>
    <br>
    <h2>See my projects</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam incidunt laboriosam debitis. Voluptate adipisci velit sint qui in facilis atque neque officia odio placeat dicta deserunt, totam corporis ipsa quisquam.</p>
    
</body>
</html>